<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="justDressApp">

<head>
    <title>JustDress Demo</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/ionicons/ionicons.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/tether/tether.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
</head>

<body ng-controller="layoutController">
    <header class="container p-0">
        <nav class="row p-0" style="margin: 40px 0 0 0 ">
            <div class="col-5 float-left" style="padding: 10px 0">
                <i class="ion ion-drag float-left " style="font-size: 2em"></i>
                <div class="iconSearch float-left">
                    <input class="searchBar" type="text" maxlength="14" />
                </div>
            </div>
            <div class="col-2 float-left p-0">
                LOGO
            </div>
            <div class="col-5 float-left" style="padding: 10px 0">
                <div class="float-right offset-1">
                    <i class="ion ion-bag"></i><span style="margin-left: 5px">CARRELLO</span>
                </div>
                <div class="float-right offset-1">
                    <i class="ion ion-android-star-outline"></i><span style="margin-left: 5px">WISHLIST</span>
                </div>
                <div class="float-right offset-1">
                    <i class="ion ion-android-person"></i><span style="margin-left: 5px">LOGIN</span>
                </div>
            </div>
        </nav>
    </header>

    <div ng-view>

    </div>

    <footer class="container ">
        <div class="row ">
            <div class="col-6 p-0 ">
                <div class="col-4 p-0 float-left " ng-repeat="info in footerInfos ">
                    <h6 class="text-uppercase font-weight-bold ">{{info.category}}</h6>
                    <ul class="list-unstyled ">
                        <li ng-repeat="item in info.items ">
                            <a ng-href="#{{item.url}} ">{{item.subCategory}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6 p-0 text-center">
                <h4 class="font-weight-bold">ISCRIVITI ALLA NEWSLETTER</h4>
                <input type="text" class="inputNewsletter" placeholder="INDIRIZZO E-MAIL QUI"><br>
                <button type="submit" class="btn-news">MI ISCRIVO</button>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-12 p-0 " ng-repeat="brand in brands ">
                <div class="col-4 p-0 ">
                    <h6 class="text-uppercase font-weight-bold ">{{brand.category}}</h6>
                </div>
                <div class="col-2 p-0 float-left " ng-repeat="item in brand.items ">
                    <ul class="list-unstyled ">
                        <li ng-repeat="subItem in item ">{{subItem.subCategory}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

<!-- TODO - Da inserire con Gulp -->
<!--[if lte IE 6]><link rel="stylesheet " href="css/ie6.css " type="text/css " media="all " /><![endif]-->
<script src="js/JQuery/jquery-3.2.1.min.js " type="text/javascript "></script>
<script src="js/JQuery/jquery.jcarousel.pack.js " type="text/javascript "></script>
<script src="js/JQuery/jquery-func.js " type="text/javascript "></script>

<script src="js/AngularJs/angular.min.js "></script>
<script src="js/AngularJs/angular-route.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js "></script>

<script src="app/Routing/app.home.routing.js "></script>
<script src="app/Controllers/app.layout.controller.js "></script>
<script src="app/Controllers/app.home.controller.js "></script>
<script src="app/Factories/FactoryRestClient.js "></script>
<script src="app/Config.js "></script>

<script src="js/JQuery/tether.min.js "></script>
<script src="js/JQuery/bootstrap.min.js "></script>

</html>